
// $code-text = #eee
// $code-background = #222

// $code-comment = #4c4 italic
// $code-keyword = #ff8 bold
// $code-operator = #f88 bold
// $code-string = #49f
// $code-number = #49f
// $code-tag = #49f bold
// $code-attribute = #f88
// $code-value = #d6a


$code-text = #f2f3f4
$code-background = #444

$code-comment = #4c4 italic
$code-keyword = #ff8
$code-operator = #f88 bold
$code-string = #88ffc4
$code-number = #88ffc4
$code-tag = #7bf bold
$code-attribute = #f88
$code-value = #fcf
