
$code-text = #586E75
$code-background = #FDF6E3
$code-highlight = #EEE8D5
$code-selection = #073642

$code-comment = #93A1A1
$code-keyword = #859900
$code-operator = #93A1A1
$code-string = #2AA198
$code-number = #D33682
$code-tag = #D33682 bold
$code-attribute = #93A1A1
$code-value = #268BD2
