@import url("https://fonts.googleapis.com/css?family=Merriweather\+Sans:400,700italic,400italic,700")

// ----------------------------------------------------------------------------

body
  standard-type-settings()

body
p
textarea
  color black !important
  font normal 13px/1.44em 'Merriweather Sans', sans-serif !important

pre, code, tt, kbd
  font-family Consolas, monospace !important

.score a
  color #bef

  .title &
    color #adf

.title
.story
nav
  a
    color #5af
