
$text-font = 'Open Sans'
$text-size: 13pt
$link-colour = #04d
$link-visited-colour = #d30

// ----------------------------------------------------------------------------

// @import url(http //fonts.googleapis.com/css?family=Open\+Sans:400,400italic,700,700italic)


// body
//   font: 13pt/1.44em 'Open Sans', sans-serif !important
//   color: black !important


.wish-list
  .product
    .detail
      a
        font-size 12pt !important

#bd
#hd
  width 88vw !important
  margin-left 6vw !important
  margin-right 6vw !important

#bd
  padding 0 !important

.layout
.node
  width 100% !important
  margin-left 0 !important
  margin-right 0 !important

.m-sop-banner
  margin 0 auto !important

.grid-c2-s5
.row-c2-s7
.detail-page #base
.detail-page #extend
  display flex !important
  flex-flow row nowrap !important

.col-sub
  order 0
  flex 0 0 auto
  margin-left 0 !important
  margin-right 10px !important
  float none !important

.col-main
  &:not(.product-info-wrapper)
    order 1
    flex 0 1 auto
    float none !important

.autosize_wrap
  .grid-c2-s5
    .col-extra-p4p
      order 2
      flex 0 0 200px
      margin-left 10px !important
      float none !important

.autosize_wrap .grid-c2-s5 .main-wrap
.grid-c2-s5 .main-wrap
.row-c2-s7 .main-wrap
.base .main-wrap
.extend .main-wrap
  width auto !important
  margin-left 0 !important
  margin-right 0 !important

.row-c2-s7
  .col-sub
    flex 0 0 250px !important

.m-sop-top-selling
  .items-list
    .img
      margin-right 10px !important

    .detail
      float none !important
      width auto !important

.ui-fixed-panel
  left initial !important
  right 1vw !important

#filter-options
  .filter-options-viewmore
    display none !important

.keyword-ipt input
.exception-ipt input
  width 160px !important

.m-o-large-all-detail
  .items-list
    .item
      width 250px !important
      margin-left 0px !important
      margin-right 10px !important

      .detail *
        line-height 1.44em !important

      .tag-result
        display none !important

      .cost
        margin 8px 0 4px !important

#node-gallery .m-o-large-all-detail .items-list .item
  &
  &:hover
    padding 8px 16px !important

.ui-window
  &.ui-window-normal
    top 2vh !important
    max-height 96vh !important
    left 50% !important
    width 84vw !important
    margin-left -42vw !important

    .magnet-slide
      .ui-slidebox-slider
        li
          max-width 180px !important

        & > :nth-child(n + 2)
          display none !important

    [data-role=content]
    .wl-dialog
      overflow-y hidden !important

.ui-slidebox-container
  margin 0 !important
  margin-left 0px !important
  width 100% !important

.ui-slidebox-slider
  @extends .ui-slidebox-container

  ul
  ul li
    display inline-block !important
    float none !important

  ul li
    vertical-align top !important

#rpbk-from-thisseller
#rpbk-from-otherseller
.magnet-slide
   .ui-slidebox-prev
   .ui-slidebox-next
     display none !important

#rpbk-from-thisseller
#rpbk-from-otherseller
   .ui-slidebox-slider li
     float none !important
     display inline-block !important
     vertical-align top

  .ui-slidebox-item
    width 100% !important
    padding 15px 0 !important

  .ui-slidebox-item-info
    width 90% !important
    font-size 13px !important
    line-height 1.3em !important

  .ui-cost
    margin-top 10px !important
    font-size 16px !important

.wish-list-show
.shopping-history-show
.find-similar .name
.gallery-mode .list-item h3
a.ui-slidebox-item-title
  height auto !important

.list-item
  .has-sku-image
  .report-item
  .store-name-chat
  .info .big-sale-wrap
    display none !important

  .info-more,
  .store-name-chat
    display block !important

  .img
    a
      vertical-align top !important

.gallery-mode
  .list-item
    min-height 520px !important

  .item
    min-height 470px !important

.m-o-large-all-detail .items-list .item .cost
  &
  b
    font-size 18px !important

#shop-refine
  font-size 10pt !important
  line-height 1.3em !important

#refine-attr-wrap
.selected-wrap
.refine-wrap .attr.refine-hide
  display block !important

#shop-refine > div:first-child
.refine-wrap .more-attr-btn
.refine-wrap .operation.refine-hide
.refine-wrap .attr-wrap .operation
  display none !important

.refine-wrap
  .attr-wrap
    .attr
      padding 3px 0 !important
      height auto !important

      &:nth-child(n + 2)
        .attr-key
          margin-top 6px !important
        .attr-values
          margin-top 1px !important

    .attr-key
      margin-top 12px !important

    .attr-values
      li
        margin 4px 39px 4px 0 !important

  .selected-wrap .your-choice
  .attr-wrap .attr-key
    width 140px !important

.d99-assistants
  li
    padding 8px !important
    width 30% !important

.deals99-btns
.deals99-tab
  bottom 0.2em !important

.d99-products-tab
  bottom 4.5em !important
  z-index 100000 !important

#chnprice_search
  .tools-s1
    .bd
      height 100% !important

      .tool-item
        font-size 10pt !important
        margin-right 5px !important
        width 115px !important
        box-shadow none !important
        border 1px solid #444 !important

        &:last-child
          margin-right 0px !important

        .outs
          &.shop_name
            overflow visible !important
            height 100% !important
            line-height 1.4em !important

    .hd
      .s-m
        margin-right 80px !important

#chnprice_search .tools-s1
  .hd
    .s-m .s-item a
    .t-more a
      font-size 9pt !important

  .bd .tool-pic
    &
    img
      width 113px !important
      height auto !important
