
// $brand-pink                   = #f7cac9

$brand-white                  = rgb(251, 251, 242)
$brand-primary                = rgb(181, 255, 233)
$brand-text                   = rgb(58, 51, 53)
$brand-muted                  = rgb(60, 55, 68)
$brand-pink                   = rgb(239, 81, 123)


// ----------------------------------------------------------------------------

shadow-text($colour, $shadow-colour)
  color $colour
  text-shadow 1px 2px $shadow-colour


// ----------------------------------------------------------------------------

stroke($colour, $stroke-colour, $stroke-width = 0.2em)
  if $colour is a color
    -webkit-text-fill-color $colour

  unless $stroke-colour is a color
    $stroke-colour = invert($colour)

  -webkit-text-stroke $stroke-width $stroke-colour


// ----------------------------------------------------------------------------

desktop()
  +respond-from(md)
  // @media screen and (min-width: 960px)
    {block}

tablet()
  +respond-at(sm)
  // @media screen and (min-width: 600px) and (max-width: 959px)
    {block}

mobile()
  +respond-to(xs)
  // @media screen and (max-width: 599px)
    {block}
