@import "./_common"

// ----------------------------------------------------------------------------

// Slideshow

.sm-tiles-fit.sm-tile-single.sm-tile-center
  .sm-tile-wrapper
    min-width 100% !important
    margin-top -80px


.sm-page-layout-region.sm-page-layout-region-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 12;
}
