@import "./_common"

// ----------------------------------------------------------------------------

$title-text-y-offset          = -600px
$title-text-size              = 96px
$title-text-mobile-size       = 32px
$title-text-colour            = $brand-white
$title-text-shadow-colour     = $brand-muted

// ----------------------------------------------------------------------------

.sm-page-layout-region[data-layout-region=Center]
  .sm-page-widget-image
    // .sm-image
    fade-in(1s)

    +desktop()
      min-height 100vh

  .sm-page-layout-row:nth-child(2)
    height 32px

  .sm-page-widget-pagetitle
    +mobile()
      display none !important

    +desktop()
      fade-in(2s)

      position relative
      top $title-text-y-offset
      left 0
      right 0
      z-index 2

    .sm-page-title
      font-size $title-text-size
      shadow-text $title-text-colour $title-text-shadow-colour

  .sm-page-widget-sociallinks
    &.sm-social-links-large[data-layout="row"]
      li
        padding-right 8px
