@import "./_common"


$image = 'https://photos.smugmug.com/All-Folders/Wedding-/i-bZsmPQ3/0/X3/Lianne%20%281%20of%201%29-X3.jpg'

$title-size               = 6rem
$subtitle-size            = 2rem

$title-colour             = #f2f3f4
$subtitle-colour          = rgba($title-colour, 75%)


// ------------------------------------------------------------

figure.main-image
  position relative
  overflow hidden
  cursor pointer

  // To offset margin on .sm-page-widget .sm-page-widget-content
  margin -12px

  img
    display block
    position relative

    min-height 100vh

    width 100%
    height auto

  .image
    display block
    position relative

    height 100vh

    background url($image) no-repeat center center scroll
    background-size cover

  figcaption
    font-family 'Oleo Script Swash Caps', cursive
    text-align left
    backface-visibility hidden

    &:before
    &:after
      pointer-events none

    &, & > a
      absolute: top left
      width 100%
      height 100%

    & > a
      z-index 999
      text-indent 200%
      white-space nowrap
      font-size 0
      opacity 0

    h1, p
      margin 0

    h1
      absolute: bottom 25% right 38%
      color $title-colour
      font-size $title-size
      font-weight 400

    div
      absolute: bottom 15% right 38%

      font-size 2rem
      text-align right

    p
      color $subtitle-colour
      padding 0.5em 0

      &.quote-source
        font-size 0.9em


// ------------------------------------------------------------

figure.main-image.expand-slide
  $fade-in-colour-duration = 0.5s
  $fade-out-colour-duration = 2s

  $title-move-in-duration = 2s
  $title-move-out-duration = 0.5s

  $subtitle-fade-in-duration = 0.5s
  $subtitle-fade-out-duration = 2s

  $subtitle-move-duration = 0.25s

  background $bg = #2f3238


  .image
    backface-visibility hidden

    +desktop()
      filter grayscale(100%)
      transition filter $fade-out-colour-duration ease-out, transform $duration

  figcaption
    text-align left

    h1
      transform translate3d(0, 0, 0)
      transition transform $title-move-out-duration ease-in

    div
      bottom 10%

      opacity 0
      transform translate3d(0, 0, 0)
      transition opacity $subtitle-fade-out-duration ease-in-out, transform $subtitle-move-duration ease-in


  +mobile()
    .image
      background-position 70% 50%

    figcaption
      h1
        font-size 3rem
        left 5%
        right auto

      div
        opacity 1
        left 5%
        right 5%
        font-size 1rem
        text-align center

  +tablet()
    .image
      background-position 70% 50%

    figcaption
      h1
        left 10%
        right 30%

  &:hover
    +desktop()
      .image
        filter grayscale(0)
        transition filter $fade-in-colour-duration ease-in

      figcaption
        h1
          transform translate3d(0, -15vh, 0)
          transition transform $title-move-in-duration ease-out

        div
          opacity 1
          transform translate3d(0, -5vh, 0)
          transition opacity $subtitle-fade-in-duration ease-in-out, transform $subtitle-move-duration ease-in

          &:first-child
            transition-delay ($subtitle-move-duration * 0.5)
          &:last-child
            transition-delay $subtitle-move-duration
