@import "./_common"

// ----------------------------------------------------------------------------

$nav-bar-height               = 60px
$nav-bar-background           = $brand-white
$nav-bar-shadow               = rgba(0, 0, 0, 0.12)

$tile-overlay-background      = rgba(205, 207, 210, 0.8)
$tile-text-size               = 18pt
$tile-text-colour             = $brand-text
$tile-text-shadow-colour      = #ccc

// ----------------------------------------------------------------------------

body
  color $brand-text
  background-color $brand-white

  height auto
  overflow-x hidden

  +desktop()
    margin-top $nav-bar-height !important

p
  font-size 14pt
  line-height 1.44em !important

// ----------------------------------------------------------------------------

.quote
  &:before
    content: "“ "
  &:after
    content: " ”"

.quote-source
  &:before
      content "– "


// ----------------------------------------------------------------------------


.sm-page-layout-region.sm-page-layout-region-header
  +desktop()
    fixed: top 0 left 0 right 0
    height $nav-bar-height
    z-index 99

    background-color $nav-bar-background
    box-shadow 0 0 12px 4px $nav-bar-shadow

    .sm-page-layout-region-top
      height 100% !important

    .sm-page-layout-row
      display flex
      flex-flow row nowrap
      justify-content space-between
      align-items center
      height 100%

      .sm-page-layout-column
        flex 0 1 auto

        &:first-child
          padding-left 50px
          text-align left

        &:last-child
          padding-right 50px
          text-align right

        .sm-page-widget .sm-page-widget-content
          margin 0


// ----------------------------------------------------------------------------

.sm-page-layout-region.sm-page-layout-region-center
  .sm-page-widget.sm-page-widget-text
    width 60%
    margin 2em auto

    +mobile()
      margin 8px
      width auto

  .sm-page-widget.sm-page-widget-sociallinks
    .sm-social-links-large[data-layout="row"]
      li
        hover-expand()
        padding-right 8px


// ----------------------------------------------------------------------------

.sm-page-layout-region.sm-page-layout-region-footer
  p
    color $brand-muted
    font-size 0.9em


// ----------------------------------------------------------------------------

.sm-user-ui
  .sm-tiles-grid
    text-align center

  .sm-tile-content
    > .sm-tile-info
      background-color $tile-overlay-background

      .sm-tile-title
        font-size $tile-text-size
        shadow-text $tile-text-colour $tile-text-shadow-colour

// ----------------------------------------------------------------------------

// .sm-page-edit
.sm-sitedesign-preview
  margin-top 0 !important

  .sm-nui
    .sm-bar
      top initial
      bottom 0
