
$code-text = #f2f3f4
$code-background = #181818

$code-line-numbers = #bd87ee
$code-highlight = rgba(240, 248, 255, 0.5)

$code-line-addition         = #141
$code-line-removal          = #411
$code-word-addition         = #218321
$code-word-removal          = #832121

$code-comment = #50c878 italic
$code-keyword = #ff8 bold
$code-constants = #ff8
$code-builtins = #f88 // lightslategray
$code-regexp = deeppink
$code-tag = violet
$code-smi = darkorange italic
$code-string = #88ffc4 italic
$code-number = #88ffc4 italic
$code-variable = #5cf

// $code-comment = #4c4 italic
// $code-keyword = #ff8
// $code-operator = #f88 bold
// $code-string = #88ffc4
// $code-number = #88ffc4
// $code-tag = #7bf bold
// $code-attribute = #f88
// $code-value = #fcf

