
// ----------------------------------------------------------------------------

$_scales = {
  padding:    0.5em,
  margin:     1em,
  shadow:     {
    size:       0.5em,
    opacity:    0.75
  }
}

// ----------------------------------------------------------------------------

/*
body
  pad 2em
div
  pad 1em, padding margin
*/

pad($types = padding, $pad = $_scales.padding, $mgn = $_scales.margin)
  padding ($pad / 2) $pad if padding in $types
  margin ($mgn / 2) $mgn if margin in $types


// ----------------------------------------------------------------------------

shadow($size = $_scales.shadow.size, $opacity = $_scales.shadow.size)
  box-shadow ($size * 0.5) $size ($size * 1.5) 0 rgba(255, 255, 255, $opacity)


// ----------------------------------------------------------------------------

/*
a
  link-colour(#05f, #c60)
b
  link-colour(#05f, $underline: none)
c
  link-colour(#05f, #c60, both)
*/

link-colour($colour, $visited = $colour, $underline = hover)
  color: $colour

  $off = off none hover

  if $underline in $off
    text-decoration: none
  else
    text-decoration: underline

  &:visited
    color: $visited

  &:hover
    $on = on both hover

    if $underline in $on
      text-decoration: underline
    else
      text-decoration: none


// ----------------------------------------------------------------------------

link-underline($underline-colour = currentColor, $visited-colour = #c60)
  // color: $underline-colour

  &
  &:link
    color: inherit

  padding-bottom: 1px
  border-bottom-style: solid
  border-bottom-width: 2px
  border-bottom-color: rgba($underline-colour, 0.5)

  &:visited
    border-bottom-color: rgba($visited-colour, 0.5)

  &
  &:hover
  &:link
  &:visited
    text-decoration: none

  &:hover
    color: $underline-colour
    transition: all ease-in 0.25s

    &:visited
      color: $visited-colour


// ----------------------------------------------------------------------------

placeholder()
  &::-webkit-input-placeholder
    {block}

  &:-moz-placeholder
    {block}

  &::-moz-placeholder
    {block}

  &:-ms-input-placeholder
    {block}


// ----------------------------------------------------------------------------

selection($color, $background)
  &::selection
    color: $color
    background: $background


// ----------------------------------------------------------------------------

base-core($text-font-family, $font-size = 14pt)
  @require url(web-font($text-font-family))

  html
    font-size: $font-size

  body
    font-family: $text-font-family
    font-weight: $font-weight
    font-feature-settings: "liga", "dlig"

    -webkit-text-size-adjust: 100%
    font-size-adjust: $font-size
    line-height: $line-height

    word-spacing: normal
    letter-spacing: normal

    color: $text-colour
    background-color: $background-colour

    // -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility

    image-rendering: -webkit-optimize-contrast
    -ms-interpolation-mode: nearest-neighbor
    image-rendering: crisp-edges

    cursor: auto !important

  pre
  code
  tt
  kbd
  samp
    font: normal inherit $monospace-font
    line-height: $line-height


// ----------------------------------------------------------------------------

base-links()
  a
    link-colour($link-colour, $link-visited-colour)


// ----------------------------------------------------------------------------

base-pre()
  pre
  textarea
    margin: 1em 0 1em 2em
    padding: 0.25em 0.5em
    line-height: 1.44em
    white-space: pre-wrap

// ----------------------------------------------------------------------------

normalise()
  @include ./normalise
