
// ----------------------------------------------------------------------------

standard-type-settings()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

  letter-spacing: normal
  word-spacing: normal


// ----------------------------------------------------------------------------

use-web-font($name, $variants = '400,400i,700,700i')
  $url = get-web-font-url($name, $variants)

  @import url($url)

  html
  body
    font-family $name, Arial, sans-serif


// ----------------------------------------------------------------------------

justify()
  text-align justify
  text-justify distribute

  &:after
    content ""
    display inline-block
    width 100%

  > *
    vertical-align top


// ----------------------------------------------------------------------------

syntax($colour, $styles...)
  if length($colour) > 1
    $styles = slice($colour, 1)
    $colour = $colour[0]

  $importance = arguments[length(arguments) - 1] == !important ? !important : unquote('')

  color: $colour $importance

  font-weight: bold $importance if bold in $styles
  font-style: italic $importance if italic in $styles
  text-decoration: underline $importance if underline in $styles
