
vendor-prefixes = webkit moz official

// ----------------------------------------------------------------------------

// Angular Material
$breakpoint-xs                  ?= 600px
$breakpoint-sm                  ?= 960px
$breakpoint-md                  ?= 1280px
$breakpoint-lg                  ?= 1920px

// ThisPlace
// $breakpoint-xs                  ?= 320px
// $breakpoint-sm                  ?= 680px
// $breakpoint-md                  ?= 1240px
// $breakpoint-lg                  ?= 1520px


$serif-font                     ?= "Merriweather Sans", serif
$sans-serif-font                ?= "Noto Sans", "Segoe UI", Verdana, Arial, Helvetica, sans-serif
$monospace-font                 ?= Menlo, Consolas, Monaco, "Lucida Console", monospace

$base-font-size                 ?= 14pt

$text-size                      ?= 1rem
$text-line-height               ?= 1.25em
$text-font                      ?= $sans-serif-font
$text-colour                    ?= #121212

$heading-text-size              ?= 1.5rem
$heading-line-height            ?= 1.5em
$heading-font                   ?= $serif-font
$heading-colour                 ?= $text-colour

$background-colour              ?= #f5f6f7
$shadow-colour                  ?= #bbb

$link-colour                    ?= #05f
$link-visited-colour            ?= #b48


// ----------------------------------------------------------------------------

$link-style = {
  color: #05f,
  'text-decoration': none,
  '&:visited': {
    color: #b48
  },
  '&:hover': {
    'text-decoration': underline
  }
}
