
$text-colour                    = #121314

$link-colour                    = #37f
$link-visited-colour            = #c60
$comment-link-colour            = #5a5aa0

$reply-background-colour        = #5af
$comment-head-underline-colour  = #888


$title-size = 15pt
$font-size  = 13pt
$input-size = 12pt

// ----------------------------------------------------------------------------

fade-in($duration = 0.2s)
  opacity 0.7
  transition opacity $duration ease-in-out

  &:hover
    opacity 1


zoom-in($scale = 1.1, $duration = 0.2s)
  transform: scale3d(1, 1, 1)
  transition: transform $duration ease-in-out

  &:hover
    transform: scale3d($scale, $scale, 1)


// ----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700')

html
body
  standard-type-settings()

body
  font-size $font-size
  line-height 1.44em

.pagetop
.title
  font $title-size/1.44em 'Merriweather Sans', Arial, sans-serif

.default
.comhead
.subtext
.reply
.comment
  font $font-size/1.44em 'Merriweather Sans', Arial, sans-serif

.profileform
  td
    font $font-size/1.44em 'Merriweather Sans', Arial, sans-serif
    padding 0.2em 0.5em

  input
  select
  textarea
    font $input-size/1.44em 'Merriweather Sans', Arial, sans-serif
    padding 0.1em 0.25em

  a
    color $link-colour !important
    text-decoration none !important
    // font-weight bold
    fade-in()


#hnmain
  background-color transparent !important
  width 80vw !important

.comment-tree
.comtr > td > table
  width 100%
  table-layout auto

.comment
  max-width 100%

.itemlist
  .votelinks
    vertical-align middle !important

  .title
    padding 0 0.25em 0.25em

  .spacer
    height 0.5em !important


for $w in range(40, 800, 40)
  .ind img[width = {'"%s"' % $w}]
    width unit($w / 2, 'px') !important


a.hnuser
  color $link-colour !important
  text-decoration none !important
  font-weight bold
  fade-in()

.comhead
    // font
    //   relative left -1.25em

  .age a:hover
    text-decoration none

  a.togg
    letter-spacing 0.1em
    color black

    &:hover
      text-decoration none
      font-weight bold

.default
  position relative
  width 100%

  > :first-child
    margin-top 0 !important
    margin-bottom 0 !important
    border-bottom solid 1px $comment-head-underline-colour
    padding 0 0 0.25em

  > br
    display none

  .reply
    height 0px

    a
      display block
      absolute top right

      text-decoration none !important
      text-transform uppercase

      color $link-colour !important
      font-weight bold
      font-size 0.9rem

      fade-in()
      zoom-in()

      visibility hidden

      / .comtr > td > table:hover &
        visibility visible


.title
  > a
    link-colour($text-colour, shade($link-visited-colour, 30%))

.subtext
  > a:last-child
    link-colour($comment-link-colour, $link-visited-colour)
    font-weight bold

.comment
  padding 0.25rem 0

  .c00
    color $text-colour !important

  .cce
  .c73
    color inherit !important
    opacity 0.8

  > span
    > a
    > p a
      // link-colour($link-colour, $link-visited-colour)
      link-underline($link-colour, $link-visited-colour)

.svg-arrow
  fill blue

.comtr
  td.votelinks
    position relative
    width 0

    > center a
      display flex
      absolute top 0.25em left 0.25em
      width $font-size
      height @width

      z-index 10
      zoom-in 1.25

      background-size 10pt
      background-position 50% 50%
      background-repeat no-repeat

      &.nosee
        visibility visible
        opacity 0.25

      &[id^=up]
        background-image embedurl("../_images/im-arrow-up.svg", "utf8")
        .svg-up
          fill #080

      &[id^=down]
        // background-image embedurl("arrow_down.svg", "utf8")
        background-image embedurl("../_images/im-arrow-down.svg", "utf8")
        .svg-down
          fill red

      .nosee
        visibility visible

      .votearrow
        display none
        // margin auto
        // transform scale3d(1.2, 1.2, 1)

  .comhead
    padding-left 1.25em


tr.spacer
  height 10px !important

