

[role='dialog']
  width 800px

  .uiScrollableArea
    width 100%

    .uiScrollableAreaBody
      width 100%

      .uiList._4kg
        display flex
        flex-flow row wrap
        justify-content flex-start
        align-content flex-start
        align-items stretch
        padding 0.2em

        > ._5i_q
          flex 0 1 auto
          margin 0.2em
