

colour-fade($start, $end, $duration = 1s, $easing = ease-in-out)
  filter grayscale($start)
  transition $duration $easing

  &:hover
    filter grayscale($end)

colour-fade-in($duration = 1s, $easing = ease-in-out)
  colour-fade 100% 0% $duration $easing

colour-fade-out($duration = 1s, $easing = ease-in-out)
  colour-fade 0% 100% $duration $easing
