
// ----------------------------------------------------------------------------

docked($side = bottom, $size = 25%)
  $axis = axis($side)
  $other-axis = opposite-axis($side)

  div.dock.dock-{$side}
    side-positioned($side, $size)

    {block}


// ----------------------------------------------------------------------------

vertical-spacing($between = 1em, $before = null, $after = null, $horiz = 0)
  if $before == null
    $before = $between
  if $after == null
    $after = $between

  > *
    margin 0 $horiz $between !important

    &:first-child
      margin-top $before !important
    &:last-child
      margin-bottom $after !important
