
$breakpoints = xs sm md lg xl

$bp-ranges = {
  xs: {
    max: ($breakpoint-xs - 1px)
  },
  sm: {
    min: $breakpoint-xs,
    max: ($breakpoint-sm - 1px)
  },
  md: {
    min: $breakpoint-sm,
    max: ($breakpoint-md - 1px)
  },
  lg: {
    min: $breakpoint-md,
    max: ($breakpoint-lg - 1px)
  },
  xl: {
    min: $breakpoint-lg
  }
}

// ----------------------------------------------------------------------------

-is-breakpoint($v)
  return $v is defined and $v is a 'ident' and $v in $breakpoints

-min-w($bp)
  ($bp-ranges[$bp]).min

-max-w($bp)
  ($bp-ranges[$bp]).max


// ----------------------------------------------------------------------------

respond($low, $high)
  $l = ($bp-ranges[$low]).min if -is-breakpoint($low)
  $h = ($bp-ranges[$high]).max if -is-breakpoint($high)

  if -is-breakpoint($low) and -is-breakpoint($high)
    @media only screen and (min-width: -min-w($low)) and (max-width: -max-w($high))
      {block}
  else if -is-breakpoint($low)
    @media only screen and (min-width: -min-w($low))
      {block}
  else if -is-breakpoint($high)
    @media only screen and (max-width: -max-w($high))
      {block}


// ----------------------------------------------------------------------------

respond-to($bp)
  +respond(null, $bp)
    {block}

respond-from($bp)
  +respond($bp, null)
    {block}

respond-at($bp)
  +respond($bp, $bp)
    {block}

respond-between($lower, $upper)
  +respond($lower, $upper)
    {block}


// ----------------------------------------------------------------------------

respond-retina($ratio = 2)
  @media only screen
    @media (min-device-pixel-ratio: $ratio), (min-resolution: $ratio * 96dpi), (min-resolution: unit($ratio, 'dppx'))
      {block}


// ----------------------------------------------------------------------------

$orientations = portrait landscape

respond-orient($orientation)
  if $orientation in $orientations
    @media all and (orientation: $orientation)
      {block}

respond-portrait()
  @media all and (orientation: portrait)
    {block}

respond-landscape()
  @media all and (orientation: landscape)
    {block}
